@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,
*::after,
*::before,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
